.barsNearYou{
  text-align: center;
}

.barsNearYou table{
  border-style: hidden;
}

th, td{
  padding: 15px;
  background-color: #E01822;
  color: white;
  width: 200px;
}

td a{
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
}
