body {
  margin-top: 30px;
  background-color: grey;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 80%;
    width: 100%;
    overflow-y: scroll;
}

.nearBar {
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        height: 100%;
        width: 20%;
        padding: 5px;
        z-index: 5;
        border: 1px solid #999;
        background: #fff;
      }

.nearBar {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

.nearBar select, .nearBar input {
        font-size: 15px;
      }

.nearBar select {
        width: 100%;
      }

.nearBar i {
        font-size: 12px;
      }

.box {
  width: 600px;
  height:400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.top-left {
  background: #006699;
  border-radius: 200px 0 0 0;
}

.top-right {
  background: #117300;
  border-radius: 0 200px 0 0;
}

.bottom-left {
  background: red;
  border-radius: 0 0 0 200px;
}

.bottom-right {
  background: yellow;
  border-radius: 0 0 200px 0;
}

.quarter-circle {
  width: 200px;
  height: 200px;
  box-shadow: 10px 10px 5px black;
}

.row {
  margin: 0 auto;
  min-width: 400px;
}

.panel {
  height: auto;
  width: 120px;
  z-index: 1;
  background: grey;
  display: flex;
  flex-direction:row;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 0%);
  border:1px solid;
}
.btn-circle {
  width: 20px;
  border-radius:50%;
  height:100%;
}
.glyphicon-play {
  left: 50%;
  transform: translate(-25%);
}
.glyphicon-off {
  left: 50%;
  transform: translate(-25%);
}
.glyphicon-ok {
  left: 50%;
  transform: translate(-25%);
}
#lengthCount {
  font-family:"Courier New";
  text-align:center;
}
.button-box{
  display: flex;
  flex-direction:column;
  height: 100%;
  margin:auto;
  vertical-align:center;
}
p {font-size:0.7vw;}

.button-display {
  height:70%;
}
.button-label {
  height:30%;
  text-align:center;
}
#strict {
}
.grey {
  background-color:grey;
}
